body{
    background-color: #097191;
    color: white;
} 
    header {
        color: white;
        display:flex;
        justify-content: space-around;
    }
        .cabecalho-lista-item{
         display: inline-block;
         margin: 0 16px;
        }

